<div class="signup-wrapper">
  <div class="signup-container">
    <h2>新規登録</h2>
  

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="signup-field">
        <%= f.label :nickname, "ニックネーム" %><br>
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
      </div>

      <div class="signup-field">
        <%= f.label :email, "メールアドレス" %><br>
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <div class="signup-field">
        <%= f.label :password, "パスワード" %>
        <% if @minimum_password_length %>
        <em>(半角<%= @minimum_password_length %>文字以上)</em>
        <% end %><br>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="signup-field">
        <%= f.label :password_confirmation, "パスワード(確認用)" %><br>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="signup-field">
        <%= f.label :aroma, "香り" %>
        <%= f.collection_select(:aroma_id, Aroma.all, :id, :name) %>
      </div>

      <div class="signup-field">
        <%= f.label :impression, "第一印象" %>
        <%= f.collection_select(:impression_id, Impression.all, :id, :name) %>
      </div>

      <div class="signup-field">
        <%= f.label :taste, "旨味" %>
        <%= f.collection_select(:taste_id, Taste.all, :id, :name) %>
      </div>

      <div class="signup-field">
        <%= f.label :afterglow, "余韻" %>
        <%= f.collection_select(:afterglow_id, Afterglow.all, :id, :name) %>
      </div>


      <div class="signup-actions">
        <%= f.submit "登録" %>
      </div>
    <% end %>
  </div>
  <%# <%= render "devise/shared/links" %>
</div>