<!DOCTYPE html>
<html>
  <head>
    <title>Nonbay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="container">
        <div>
          <%= link_to image_tag('sugidama.png'), root_path %>
          <ul>
            <li><%= link_to 'のんべぇ', root_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to current_user.nickname, user_path(current_user.id) %></li>
              <li><%= link_to 'レビュー投稿', areas_path %></li>
              <li><%= link_to 'おつまみ投稿', '#' %></li>
            <% else %>
              <li><%= link_to '銘柄検索', areas_path %></li>
            <% end %>
          </ul>

          <form>
            <input type="search" placeholder="お酒検索">
          </form>

          <div>
            <% if user_signed_in? %>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :DELETE %>
            <% else %>
              <%= link_to 'ログイン', new_user_session_path %>
              <%= link_to '新規登録', new_user_registration_path %>
            <% end %>
          </div>
        </div>
      </div>
    </header>     
    <%= yield %>
  </body>
</html>
